@page "/"
@page "/pedidos"
@using GoodBurger.Application.Contracts.Responses
@using GoodBurger.Web.Services
@rendermode InteractiveServer

@inject PedidoService Service
@inject NavigationManager Nav

<h3>Pedidos</h3>
@{
    string NovoLink = "/pedidos/novo";
}


<button class="btn btn-primary mb-3" @onclick="() => Nav.NavigateTo(NovoLink)">
    Fazer Pedido
</button>

@if (pedidos == null)
{
    <p>Carregando...</p>
}
else
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Itens</th>
                <th>SubTotal</th>
                <th>Desconto</th>
                <th>% Desc</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in pedidos)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>
                        @string.Join(", ", p.Itens.Select(i => i.Nome))
                    </td>
                    <td>@p.Subtotal.ToString("C")</td>
                    <td>@p.Desconto.ToString("C")</td>
                    <span class="badge bg-success">
                        @p.PercentualDesconto.ToString("F0")%
                    </span>
                    <td>@p.Total.ToString("C")</td>
                    <td>
                        <button class="btn btn-warning btn-sm me-2" @onclick="() => Editar(p.Id)">Editar</button>
                        <button class="btn btn-danger btn-sm" @onclick="() => Deletar(p.Id)">Excluir</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<PedidoResponse> pedidos;

    protected override async Task OnInitializedAsync()
    {
        pedidos = await Service.GetAll();
    }

    private void Editar(Guid id)
    {
        Nav.NavigateTo($"/pedidos/{id}");
    }

    private async Task Deletar(Guid id)
    {
        await Service.Delete(id);
        pedidos = await Service.GetAll();
    }
}